body{
	background-color: black;
	padding-bottom: 400px;

	}
	#ft{
	color: white;
	font-family: Times New Roman;
	border-color: white;
	border: dotted;
	font-size: 60px;
	
}
#eee
{
	width: 650px;
	height: 150px;
	border-radius: 20px;
}
#nan{
	
	
	padding-top: 100px;
}
#ssil
{
	font-family: Times New Roman;
	font-size: 30px;
	color: white;
}